<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bmc/welcomeStyle.css' %}">
</head>
<body id="body" class="body">
<div class="main">
    <div class="card">
        <div class="content">
            <h2>01</h2>
            <h3>BMC-Journal</h3>
            <p>Since 1999, BMC has been committed to making high quality research available to anyone who wants to access it.</p>
            <a href="1/search">Start</a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2>02</h2>
            <h3>PLOS</h3>
            <p>PLOS is a nonprofit, Open Access publisher empowering researchers to accelerate progress in science and medicine by leading a transformation in research communication.</p>
            <a href="3/search">Start</a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2>03</h2>
            <h3>Science-Translational-Medicine</h3>
            <p>Science Translational Medicine is the leading weekly online journal publishing research at the intersection of science, engineering and medicine.</p>
            <a href="2/search">Start</a>
        </div>
    </div>
</div>
</body>
<script>
    // 页面加载完成时执行
    document.addEventListener('DOMContentLoaded', function() {
    // 添加渐进动画类名
    document.getElementById('body').classList.add('content-fade-in');
    });

    // 监听页面链接点击事件
    document.addEventListener('click', function(event) {
        let target = event.target;

        // 检查点击的元素是否是链接
        if (target.tagName === 'A') {
            event.preventDefault(); // 阻止默认的页面跳转行为

            // 添加渐出动画类名
            document.getElementById('body').classList.add('content-fade-out');

            // 在动画结束后进行页面跳转
            setTimeout(function() {
            window.location.href = target.href;
            }, 1000); // 这里的1000表示动画持续时间，单位是毫秒
        }
    });
</script>
</html>